* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #c4c4c4;
  }
  header {
    width: 85.4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 42px 0px 42px 0px;
  }
  header ul {
    display: flex;
    gap: 48px;
    list-style-type: none;
  }
  header ul a {
    text-decoration: none;
    color: #000000e5;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  header ul a::after {
    content: "";
    display: block;
    margin: auto;
    margin-top: 9px;
    height: 2px;
    width: 0%;
    background: #29b24e;
    transition: all 0.2s;
  }
  header ul a:hover::after {
    width: 100%;
  }
  .sell-something {
    text-decoration: none;
    padding: 13px 26px;
    border-radius: 12px;
    background: #29b24e;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    transition: all 0.2s;
  }
  .sell-something:hover {
    background: #ffffff;
    color: #29b24e;
  }
  .location-banner {
    display: grid;
    width: 85.4%;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    
    grid-template-areas: "banner details";
  }
  .section-container-left {
    grid-area: banner;
    padding: 35px 40px;
    min-height: 316px;
    background-image: url(../img/Rectangle\ 431\.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    box-shadow: 0px 4px 25px rgba(194, 194, 194, 0.31);
  }
  .section-container-right {
    grid-area: details;
    padding: 35px 40px;
    background: #f8f8f8;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 25px rgba(194, 194, 194, 0.31);
    display: flex;
    flex-direction: column;
  }
  .info{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    align-items: center;
  }
  .views{
    display: flex;
    gap: 9px;
    align-items: center;
  }
  .posted, .views span{
    opacity: .6;
  }
  .vip-post{
    padding: 5px 11px;
    background: #29b24e;
    border-radius: 15px;
    color: #ffffff;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
  }
  .section-container-right h2 {
    color: #000000;
    opacity: 0.9;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    margin-top: 24px;
  }
  .subcategory{
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin-top: 12px;
    opacity: .6;
  }
  .desctiption {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    margin-top: 32px;
    opacity: .8;
  }
  .room{
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    width: 100%;
    display: flex;
    gap: 24px;
    padding: 16px 0px 16px 0px;
    margin-top: 40px;
    font-size: 14px;
    color: #000000;
    opacity: .8;
  }
  .full-details{
    display: grid;
    margin-top: 24px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 132px;
    grid-row-gap: 16px;
    grid-template-areas: "property-address facilities estate-name"
    "condition facilities furnishing"
    "condition2 facilities property-size";
  }
  .full-details h3{
    font-size: 12px;
    color: #000000;
    opacity: .6;
    font-family: 'Poppins',sans-serif;
  }
  .full-details p{
    font-size: 14px;
    color: #000000;
    opacity: .8;
    font-family: 'Poppins',sans-serif;
    line-height: 26px;
  }
  .property-address{
    grid-area: property-address;
  }
  .condition{
    grid-area: condition;
  }
  .condition2{
    grid-area: condition2;
  }
  .facilities{
    grid-area: facilities;
  }
  .estate-neme{
    grid-area: estate-name;
  }
  .furnishing{
    grid-area: furnishing;
  }
  .property-size{
    grid-area: property-size;
  }
  .price-contact{
    border-top: 1px solid #ECECEC;
    margin-top: 24px;
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .article-price span {
    color: #29b24e;
    font-size: 36px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  .article-price p {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    opacity: 1;
  }
  .article-price{
    margin-left: 54px;
  }
  .sent-button{
    padding: 13px 26px;
    background: #F8F8F8;
    color: #29b24e;
    border: 1px solid #29b24e;
    border-radius: 12px;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
    transition: all .2s;
  }
  .sent-button:hover{
    color: #F8F8F8;
    background: #29b24e;
  }
  .call-button{
    padding: 13px 26px;
    border: 1px solid #29b24e;
    background-color: #29B24E;
    color: #FFFFFF;
    border-radius: 12px;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
    transition: all .2s;
  }
  .call-button:hover{
    background-color: #F8F8F8;
    color: #29b24e;
    border: 1px solid #29b24e;
  }
  .cards-section {
    width: 85.4%;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }
  .cards-section h2 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #000000;
  }
  .section-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
  }
  .section-container a {
    text-decoration: none;
  }
  .card {
    background: #f8f8f8;
    border-radius: 24px;
    box-shadow: 0px 4px 18px rgba(194, 194, 194, 0.3);
    display: flex;
    flex-direction: column;
  }
  .card-img {
    width: 91%;
    margin: 16px auto;
    position: relative;
  }
  .card-img img {
    width: 100%;
  }
  .vip {
    padding: 6px 11px;
    background: #29b24e;
    border-radius: 15px;
    color: #ffffff;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    position: absolute;
    left: 12px;
    top: 12px;
  }
  .bookmark {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 4px;
    bottom: -20px;
    background-color: #ffffff;
    box-shadow: -2px 4px 20px rgba(109, 109, 109, 0.25);
    border-radius: 50%;
  }
  .card h2 {
    margin: 0px 20px 0px 20px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #000000;
  }
  .card p {
    margin: 8px 20px 0px 20px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #000000;
    opacity: 0.5;
  }
  .price {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }
  .price span {
    color: #29b24e;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
  }
  .price p {
    color: #000000;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    opacity: 1;
  }
  .card hr {
    margin-top: 16px;
    border: 1px solid #cfead6;
  }
  .card-footer {
    padding: 24px 0px;
    width: 91%;
    display: flex;
    justify-content: space-between;
  }
  .top {
    width: 100%;
    height: 179px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    background: #29b24e;
    border-radius: 25px;
    gap: 32px;
  }
  .footer-top {
    width: 85.4%;
    display: flex;
    justify-content: space-between;
  }
  .footer-top ul {
    display: flex;
    list-style-type: none;
    gap: 48px;
  }
  .footer-top a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  .footer-top p {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  .footer-top ul a::after {
    content: "";
    display: block;
    margin: auto;
    margin-top: 1px;
    height: 2px;
    width: 0%;
    background: #ffffff;
    transition: all 0.2s;
  }
  .footer-top ul a:hover::after {
    width: 100%;
  }
  .line {
    border: 1px solid #d0d0d0;
    width: 85.4%;
    height: 1px;
  }
  .footer-bottom {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  .search-icon {
    padding: 20px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 4px 25px rgba(194, 194, 194, 0.31);
    display: none;
  }
  footer {
    width: 100%;
  }
  .bottom {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 72px;
    margin-top: 84px;
    background: #ffffff;
    border-radius: 24px 24px 0px 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  }
  .bottom a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    color: #000000;
    opacity: .8;
  }
  .bottom ul a::after {
    content: "";
    display: block;
    margin: auto;
    margin-top: 1px;
    height: 2px;
    width: 0%;
    background: #29b24e;
    transition: all 0.2s;
  }
  .bottom ul a:hover::after {
    width: 100%;
  }
  .bottom ul {
    width: 100%;
    margin-top: 14px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 35px;
  }
  .bottom span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
  .sell-frame{
    padding: 12px;
    background: #29b24e;
    border-radius: 12px;
    margin-top: -28px;
  }
  @media (width <= 768px) {
    .search-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    header ul {
      display: none;
    }
    .sell-something {
      display: none;
    }
    .location-banner {
      width: 100%;
      gap: 20px;
      grid-template-columns: 1fr;
      grid-template-areas: "banner" "details";
    }
    .full-details{
      display: grid;
      margin-top: 24px;
      grid-template-columns: 1fr;
      grid-column-gap: 132px;
      grid-row-gap: 16px;
      grid-template-areas: 
      "property-address"
      "condition"
      "condition2"
      "facilities"
      "estate-name"
      "furnishing"
      "property-size";
    }
    .fac-info{
      text-align: end;
    }
    .price-contact{
      flex-direction: column;
      align-items: flex-start;
    }
    .article-contact{
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 12px;
    }
    .article-contact button{
      width: 100%;
    }
    .full-details div{
      display: flex;
      justify-content: space-between;
    }
    .cards-section a:not(:first-child){
      display: none;
    }
    .section-container-left {
      margin: auto;
      width: 88%;
    }
    .section-container-right {
      width: 100%;
    }
    .footer-top ul {
      display: block;
    }
    .footer-top p {
      display: none;
    }
    .top {
      height: 326px;
    }
    .bottom{
      display: flex;
    }
  }
  